.gradle/
.gradle/*
.idea/
.idea/*
*/.idea/
*/.idea/*
*.iml
*/.iml

.DS_Store
*/.DS_Store

build/
build/*

target/
target/*
*/.target/
*/.target/*

.settings/
.settings/*
*/.settings/
*/.settings/*

.classpath
.project
*/.classpath
*/.project

velocity.log
